#BMW {
    width: 100px;
}

#BMW:hover {
    width: 150px;
}

a {
    color: red;
}

a:hover {
    color: green;
}

div {
    width: 300px;
    height: 300px;
    background-color: green;
}

div:hover {
    width: 400px;
    background-color: yellow;
}

    /* link(rodesac jer ar dagvikliket linkze) */
    /* visited(rodesac ukve gadavedit bmulze) */
    /* hover(rodesac mauss gadausvav links) */
    /* active(roca vawerd links*/ 