* {
    padding: 0;
    margin: 0;

}

body {
    font-family: sans-serif;
    background-color: rgb(136, 168, 248);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p1 {
    color: white;
    font-weight: 700;
}

.res {
    background-color: rgb(56, 69, 104);
    width: 350px;
    height: 80px;
    border-radius: 3px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 7px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.calc{
    background-color: #282d42;
    display: grid;
    grid-template-columns: repeat(4,70px);
    grid-template-rows: repeat(5,50px);
    gap: 15px;
    padding: 20px;
    border-radius: 15px;
}
.divs{
    background-color: #e7e4dd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 15px;
    font-weight: 600;
}
#RESET{
    grid-column: 1/3;
    background-color: #697295;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e7e4dd;
}
#equal{
    grid-column: 3/5;
    background-color: #b84a3a;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e7e4dd;
}
#DEL{
    background-color: #697295;
    color: #e7e4dd;
} 