.img {
    width: 50%;
}
/* 200px */
/* responsive web design == საიტის დეზაინი სადაც გინდა ლეპტოპით შემოხვიდე გინდა ტელეფონით საიტი იქნება ლამაზი */
/* RGB == Red, Green, Blue -- აქედან ჩვენ შეგვიძლია ავაწყოთ ნებისმიერი ფერი მაგ: rgb(255, 0, 125) -- ეს იქნება ვარდისფერი */
/* hex == იგივე რგბ მაგრამ აქ არის ასოები როგორც რგბ-ში ყველაზე მაღალი მნიშვნელობა არის 255 hex-ში არის f */

.forCSS {
    color: rgb(0, 255, 0);
}

.forCss {
    color: #0000ff;
}

#p {
    color: #00ff00;
}