*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: hsl(237, 48%, 15%);
    font-family: sans-serif;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
header{
    color: white;
    display: flex;
    border: 1px solid;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 15px;
    border-radius: 15px;
    gap: 28px;
    flex-wrap: wrap;
}
.score_box{
    background-color: white;
    color: black;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
#score{
    font-size: 60px;
}

#scoreBot {
    font-size: 60px;
}

section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-image: url(bg-triangle.svg);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 20px 37px;
}
.paper{
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 53%, rgba(45, 140, 169, 1) 23%);
}
.paper, .rock, .scissors{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.scissors{
    grid-column: 3;
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 53%, rgba(236, 158, 14, 1) 23%);
}
.rock{
    grid-column: 2;
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 53%, rgba(220, 46, 78, 1) 23%);
    position: relative;
    bottom: -60px;
}

.ddd {
    margin-top: 200px;
    color: white;
    display: flex;
    justify-content: center;
}



@media(max-width: 590px){
    header {
        flex-direction: column;
        align-items: center;
    }

    section {
        grid-template-columns: 1;
        grid-template-rows: 3;
        gap: 50px;
    }

    .paper {
        grid-row: 1;
        grid-column: 2;
    }

    .rock {
        grid-row: 2;
        grid-column: 2;
        bottom: 0;
    }

    .scissors {
        grid-row: 3;
        grid-column: 2;
    }
}