* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('bg1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 130%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#black {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    z-index: -10;
}

#parent {
    color: red;
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-direction: column;
    text-align: center;
}

#parents_div {
    display: flex;
    gap: 70px;
}

h2 {
    font-weight: 900;
}

#parent2 {
    display: flex;
    gap: 20px;
    color: red;
}

#child2, #child3 {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center; 
}

.circle, .circle2 { 
    width: 30px; 
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: none; 
}

#child7 {
    color: red;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    font-weight: bold;
    background-color: rgb(50, 28, 28);
    box-shadow: 5px 5px 10px black;
}