body {
    background-image: url(bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#child2 {
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    z-index: 10;
    margin-top: 50px;
}

#child5 {
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    z-index: 10;
    margin-top: -15px;
}

#parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    font-size: 26px;
    color: red;
    text-align: center;
}

#child {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap: 10px;

}

#gamuqeba {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    z-index: -10;
    top: 0;
}

#pp1 {
    margin-top: -30px;
    margin-left: 20px;
}